**
!Dockerfile
!composer.json
!composer.lock
!app/
!app/**
!public/
!public/**
!config/
!config/example.php
!deploy/
!deploy/render/
!deploy/render/**
**/*.bak
**/*.key
**/local.php
**/.env*
**/*private*
